body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #DC4405;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #000000;
  overflow: hidden;
  text-align: center;
}

nav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

section {
  padding: 1em;
  margin-bottom: 2em;
  margin: 1em;
  background-color: #fff;
  border-radius: 8px;
}

footer {     
  text-align: center;
  background-color: #DC4405; /* Fixed the typo */
  color: white;
  padding: 1em;
  position: fixed;
  height: 3em;
  width: 100%;
  bottom: 0;
}
