body {
      font-family: Arial, sans-serif;
      background-color: rgb(218.8, 227.8, 216);
      color: #333;
      margin: 0;
      padding: 0;
    }
header {
      background-color: #d73f09;
      color: white;
      text-align: center;
      padding: 20px;
    }
nav {
      background-color: #000000;
      overflow: hidden;
      text-align: center;
    }
nav a {
      float: left;
      display: block;
      color: white;
      padding: 14px 20px;
      text-decoration: none;
    }
    nav a:hover {
      background-color: #ddd;
      color: black;
    }
    section {
      padding: 1em;
      margin-bottom: 2em;
      margin: 1em;
      background-color: #fff;
      border-radius: 8px;
    }
    footer {
      opacity: 0.5;    
      top-margin: 1em;
      left-margin: 0%;
      right-margin: 0%;    
      text-align: center;
      background-color: #423e3c;
      color: white;
      padding: 1em;
      position: fixed;
      height: 3em;
      width: 100%;
      bottom: 0;
    }
